.containar{
  // height: 60vh;
  display: flex;
  justify-content: center;
 // align-items: center;
}
mat-card{
  width: 300px;
}

.example-container {
  text-align: center;
}

mat-form-field{
  width: 300px;
}

.button{
  margin: 2%;
  margin-top: 0%;
}

