
<html>
<h1>צור קשר</h1>
<h3>
  ...אתם מוזמנים ליצוא איתנו קשר, ולהשתמש בידע הרב שצברנו עבורכם
</h3>
<div>
.נשמח לענות לכל שאלה שהיא
</div> <br>
<div class="containar">

<mat-card>
<form class="example-container" [formGroup]="contactForm">
    <mat-form-field >
        <input matInput type="text" placeholder="הכנס שם פרטי" formControlName="firstName">
        <mat-error *ngIf="contactForm.get('firstName').hasError('required')">
            בבקשה הכנס שם פרטי
          </mat-error>
     </mat-form-field>
     <mat-form-field >
        <input matInput type="text" placeholder="הכנס שם משפחה" formControlName="lastName">
        <mat-error *ngIf="contactForm.get('lastName').hasError('required')">
            בבקשה הכנס שם משפחה
          </mat-error>
     </mat-form-field>
     <mat-form-field >
        <input matInput placeholder="הכנס כתובת מייל" formControlName="emailFC">
        <mat-error *ngIf="contactForm.get('emailFC').hasError('required')">
            בבקשה הכנס כתובת מייל
          </mat-error>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="הכנס מספר טלפון" formControlName="phoneNumber">
        <mat-error *ngIf="contactForm.get('phoneNumber').hasError('required')">
            בבקשה הכנס מספר טלפון
          </mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="?מה ברצונך לשאול" formControlName="hodaa"></textarea>
        <mat-error *ngIf="contactForm.get('hodaa').hasError('required')">
         בבקשה כתוב את שאלתך
          </mat-error>
      </mat-form-field>
      <button class="button" mat-raised-button [disabled]="!contactForm.valid">שליחה</button>
  </form>
</mat-card>
</div>
</html>
