<html>
  <h1>אודות הסופר</h1>
  <h3>
     .הסופר ידידיה ניימן הינו סופר המתמחה בכתיבת סת"ם מכל הסוגים משנת תשע"ג
  </h3>
  <h3>
,חזונו הוא להנגיש לציבור הרחב, בצורה הפשוטה והיעילה ביותר, את הידע והמקצועיות שרכש עם השנים
<br>
.בלי להתפשר אפילו על קוצו של יוד
  </h3>
  <div>
 ,לדבריו: "בימינו השוק מוצף באלפי סופרים וסוחרי סת"ם מכל הסוגים ובכל הרמות וההידורים
      </div>
    <div>
.כאשר לקונה הפשוט שאינו מתמצא בשוק זה לעומקו, עלול ההציע הרב להוות מכשול, שיפריע לו למצוא את מבוקשו
    </div>
    <div>
    ."ולכן שאיפתי היא לעזור לקונה להתמקד בדברים החשובים לו באמת, תוך שימת לב ודגש מיוחד לצרכיו של כל קונה
    </div>
</html>
