<html>
  <h1>ברוך הבא לאתר הסת"ם</h1>
  <h2>...באפשרותך לראות את המוצרים שלנו</h2>
<!--  <img class="tmunot" title="מזוזות" src="../../assets/mezuza.JPG" [routerLink]="['../product']">
  <img class="tmunot" title="תפילין" src="../../assets/tefilin.JPG" [routerLink]="['../product']">
  <img class="tmunot" title="מגילות" src="../../assets/megila.JPG" [routerLink]="['../product']">
  <img class="tmunot" title="ספרי תורה" src="../../assets/seferTora.JPG" [routerLink]="['../product']">
  <br>
  <p class="title" style="width: 550px" [routerLink]="['../product']">מזוזות</p>
  <p class="title" style="width: 100px" [routerLink]="['../product']">תפילין</p>
  <p class="title" style="width: 520px" [routerLink]="['../product']">מגילות</p>
  <p class="title" style="width: 70px" [routerLink]="['../product']">ספרי תורה</p>-->
  </html>

