<div class="all">
  <h1>ברוך הבא לאתר הסת"ם</h1>
  <h2>...באפשרותך לראות את המוצרים שלנו</h2>
  <div class="gallery" [routerLink]="['../product']">
      <img src="../../assets/mezuza.JPG" alt="מזוזות">
    <div class="desc">מזוזות</div>
  </div>

  <div class="gallery" [routerLink]="['../product']">
      <img src="../../assets/tefilin.JPG" alt="תפילין">
    <div class="desc">תפילין</div>
  </div>

  <div class="gallery" [routerLink]="['../product']">
      <img src="../../assets/megila.JPG" alt="מגילות">
    <div class="desc">מגילות</div>
 </div>

  <div class="gallery" [routerLink]="['../product']">
      <img src="../../assets/seferTora.JPG" alt="ספרי תורה">
    <div class="desc">ספרי תורה</div>
  </div>
</div>

